@font-face {
    font-family: Komtits;
    src: url("../font/komtits_.ttf");
}

@font-face {
    font-family: Komika;
    src: url("../font/komtit__.ttf");
}

@font-face {
    font-family: Heave Rust;
    src: url("../font/HEAVYRUST.ttf");
}
:root{
--sakura : #ff849c ;
--ichigo: #ff9000;
/*#ff6986 #ff4166*/
}
* {
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background: url('../arena.png');
    background-attachment: fixed;
    background-size: cover;
    user-select: none;
    font-family: "Komika";
}

.tournament {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: grid;
    padding: 10px;
    grid-template-columns: 40% 20% 40%;
    grid-auto-flow: column;
    /* justify-items: center; */
    /* align-items: center; */
    justify-content: center;
    align-content: center;
}

div.jQBracket {
    width: fit-content !important;
}

div.jQBracket .bracket {
    width: 100%;

}

div.jQBracket.rl .bracket>:first-child {
    margin-right: 0 !important;
}

div.jQBracket.rl .bracket>:last-child {
    margin-left: 20px;
}

.team {
    transition: transform 2s;
    backface-visibility: hidden;
    transform-style: preserve-3d
}


#content.animate_content div.jQBracket .team {

    transform: rotateX(180deg);

}

div.jQBracket .team::after {
    transform: rotateX(180deg);
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    background-image: url("../img/Ichigo.png");
    background-size: 44px;
    background-repeat: no-repeat;
    background-position: center -22px;

}

div.jQBracket.rl .team::after {
    background-image: url("../img/Byakuya.png");

}

div.jQBracket .team:first-child::after {

    background-position: center 0;

}

.tools {
    background-color: rgba(255, 255, 255, .3);
    position: absolute;
    bottom: 0;
    padding: 2px;
}

.tools:hover {
    background-color: rgba(255, 255, 255, .5);

}

.material-icons-outlined {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons-outlined:hover {
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

#follow {
    display: none;
    position: fixed;
    z-index: 5;
    color: rgba(0, 0, 0, 1);
    pointer-events: none
}

body.editActive #follow {
    display: block;
}

.tools div {
    position: relative;
    display: inline-block;
    max-width: 0;
    white-space: nowrap;
    transition: max-width 1s ease-in;
}

.tools.unlock div {
    max-width: 500px;
}

#lock {
    color: rgba(255, 0, 0, .5);
}

.tools span:after {
    content: attr(data-popup);
    font-family: cursive;
    font-size: 16px;
    position: absolute;
    bottom: 35px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
    color: rgba(255, 0, 0, .5);


}



.unlock #lock,
.unlock span:after {
    color: rgba(0, 255, 0, .5)
}

.tools span:hover:after {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2px;
}

#lock::after {
    content: 'Bloqueado para alterações';

}

.unlock #lock:after {

    content: 'Desbloqueado para alterações';
}

.bubble {
    display: none;
}

#final .bubble {
    display: block;
}

div.jQBracket .team.highlightWinner,
div.jQBracket :not(.bubble)::after {
    background-color:var(--ichigo);

}

#final .bracket> :first-child {
    display: none;
}

div.jQBracket.rl .team.highlightWinner,
div.jQBracket.rl ::after,
#final div.jQBracket .team[data-teamid="2"].highlightWinner {
    background-color: var(--sakura);

}

#final {
    margin-top: 100px;
}

div.jQBracket .connector.highlightWinner,
div.jQBracket .connector div.connector.highlightWinner {
    border-color: var(--ichigo);
}

div.jQBracket.rl .connector.highlightWinner,
div.jQBracket.rl ::after,
div.jQBracket.rl .connector div.connector.highlightWinner {
    border-color:var(--sakura);
}
div.jQBracket .team div.label{
    text-align: center;
    font-family: "Komika";
    padding: 0;
    font-size: 1.3em;
    line-height: 1.3em;
}
.match:has(.team.highlight) {

    z-index: 3;
}

.match:has(.highlightWinner) {
    z-index: 2;
}

.header {
    position: fixed;
    width: 100vw;
    top: 20px;
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    color: white
}

.header p {
    margin: -10px;
    text-align: center;
    position: relative;

}


.header .name {

    font-size: 1.7em;
}

.header .event {

    font-size: 3.0em;

    background-image:linear-gradient(gold 45%, red 75%);
    color: gold;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}

.header .date {
    font-size: 2em;
}


.header p::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    font-family: "Komtits";
    color: red;
    -webkit-text-stroke: black 2px;
    -webkit-text-fill-color:orangered

}