@font-face {
  font-family: Komtits;
  src: url("../font/komtits_.ttf");
}
@font-face {
  font-family: Komika;
  src: url("../font/komtit__.ttf");
}
@font-face {
  font-family: Heave Rust;
  src: url("../font/HEAVYRUST.ttf");
}

@media print {
  body {
    background: red !important;
  }
}
:root {
  --sakura: #ff849c;
  --sakura-triad: #95ff84;
  --sakura-triad-2: #8495ff;
  --ichigo: #ff9000;
  --ichigo-triad: #00ff90;
  --ichigo-triad-2: #9000ff;
  --gradient: linear-gradient(gold 45%, red 75%);
  /*#ff6986 #ff4166*/
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/arena_award.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position:center 0;
  user-select: none;
  position: absolute;
  font-family: "Komika";
  min-width: 100%;
  min-height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  box-sizing: border-box;
}
body.offScroll {
  overflow: hidden;
}


.header p {
  line-height: 1;
  position: relative;
}
.header .name {
  font-size: 1.7em;
}
.header .event {
  font-size: 3em;
  background-image: var(--gradient);
  color: gold;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.header .date {
  font-size: 2em;
  position: relative;
}
.header img{
  width:30%; 
}
.header .date.on::before {
  content: "edit";
  position: absolute;
  right: -25px;
  font-family: "Material Icons Outlined";
  cursor: pointer;
  color: black;
  font-size: 20px;
  border: solid black 2px;
  background: white;
  border-radius: 50%;
}
.header p::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  font-family: "Komtits";
  color: red;
  -webkit-text-stroke: black 2px;
  -webkit-text-fill-color: orangered;

}

.tools {
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  bottom: 0;
  padding: 2px;
  overflow: hidden;
  z-index: 2;
}
.tools:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tools span:hover:after {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2px;
}
.tools .material-icons-outlined {
  color: rgba(0, 0, 0, 0.3);
}
.tools .material-icons-outlined:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#pop-up {
  z-index: 9999;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  display: none;
}
#pop-up .container {
  text-align: center;
  word-wrap: break-word;
  display: none;
}
#pop-up .container.canvas {
  width: 75%;
  align-self: center;
}
#pop-up .container.canvas img {
  width: 100%;
  border: solid 2px white;
}
#pop-up .container.canvas a {
  display: inline-block;
}
#pop-up .container.canvas .button {
  margin: 5px;
  width: 200px;
}
#pop-up .container.canvas .button .material-icons-outlined {
  font-size: inherit;
}
